header {
    width: 100%;
    max-width: 100vw;   
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28pt;
    font-weight: 400;
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgb(48, 243, 247) 0%, rgba(18,71,93,1) 70%);
}