
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  line-height: 24px;
  font-weight: 400;
}
body {
  background-color: rgb(24, 22, 22);
 
}