@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  line-height: 24px; 
}
body {
  background-color: rgb(24, 22, 22);
 
}
.App {
  min-height: 100vh;
}