.input {
   text-align: center;
   margin-top: 20px;
}
.input input{
    width: 400px;
    padding: 4px 12px;
    border-radius: 4px;
    background-color: rgb(24, 22, 22);
    border-color:  rgb(173, 173, 170);
    color: rgb(170, 170, 166);
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    gap: 30px;
}
.card {
    width: 300px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px rgb(173, 173, 170);
    border-radius: 8px;
    color: rgb(170, 170, 166);
    font-size: 14pt;
    transition: transform 0.4s;    
}
.card:hover {
    transform: scale(1.02);
    background: rgb(34,193,195);
    color: black;
}